.topbar{
  height: max-content;
    padding: 5px 20px;
    background-color: black;
    color: white;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: end;

    .supports {
      display: flex;
      gap: 30px;


      span{
        cursor: pointer;
        font-size: 13px;
        display: flex;
        align-items: center;
      }
    }
}