.about{
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 45px;
    .aboutitem {


      display: flex;
      flex-direction: column;
      gap: 5px;

      h2{
        font-size: 18px;
      }
      span{
        font-size: 14px;
        word-spacing: 5px;
        line-height: 1.6;
      }
    }
}